body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #4CAF50;
}

.quote {
    font-style: italic;
    margin-bottom: 20px;
    color: #555;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #45a049;
}

#errorMessage {
    color: red;
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.support-message a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.support-message a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .main-content {
        margin: 0;
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    .button {
        font-size: 1rem;
    }
}
